#cointainer{
    position:absolute;
    top: -85%;
    left: -17%;
    }

.circle {
    background: lightblue;
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    border-color:black;
    width: 100px;
    height: 100px;
    top: -85%;
    left: -17px;
    z-index: 1;
}
.body {
      position: absolute;
      border-style: solid;
      border-color:black;
      width: 70px;
      height: 120px;
      background: red;
      top: 35%;
      left: 566px;
}

.arm {
    border:100px;
    width: 50px;
    height:20px;
    }

.armleft{
    width: 50px;
    height: 50px;
    border-bottom: 25px solid black;
    border-left: 25px solid black;
    position: absolute;
    left: -40%;
    top: 20%;
    transform: rotate(50deg);
    }

.armright{
    width: 50px;
    height: 50px;
    border-bottom: 25px solid black;
    border-left: 25px solid black;
    position: absolute;
    left: 65%;
    top: -10%;
    transform: rotate(-30deg);
    z-index: -1;
    }

.legright{
      position: absolute;
      border-style: solid;
      border-color:black;
      width: 30px;
      height: 60px;
      background: lightblue;
      transform: rotate(-1deg);
      top: 100%;
      left: 50%;
    }

.legleft{
      position: absolute;
      border-style: solid;
      border-color:black;
      width: 30px;
      height: 60px;
      background: gray;
      transform: rotate(1deg);
      top: 100%;
      right: 50%;
    }

.legrightbaba{
      position: absolute;
      border-style: solid;
      border-color:black;
      width: 30px;
      height: 60px;
      background: gray;
      transform: rotate(-1deg);
      top: 132%;
      left: 52%;
    }

.legleftbaba{
      position: absolute;
      border-style: solid;
      border-color:black;
      width: 30px;
      height: 60px;
      background: lightblue;
      transform: rotate(1deg);
      top: 132%;
      right: 52%;
    }

.sapatosr {
      border-bottom: 25px solid black;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      height: 0;
      width: 25px;
      position: absolute;
      bottom: -105%;
      left: 50%;
    }

.sapatosl {
      border-bottom: 25px solid black;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      height: 0;
      width: 25px;
      position: absolute;
      bottom: -105%;
      right: 50%;
    }

.move1 .armleft{
     position: absolute;
     left: 10%;
     top: 20%;
     transform: rotate(0deg);
    }

.move1 .armright{
     position: absolute;
     left: -40%;
     top: 25%;
     transform: rotate(40deg);
     z-index: -1;
    }

.move1 .legright{
    position: absolute;
    transform: rotate(-35deg);
    top: 90%;
    left: 50%;
    z-index: 1;
    }

.move1 .legleft{
    position: absolute;
    transform: rotate(1deg);
    top: 100%;
    right: 50%;
      }

.move1 .legleftbaba {
     position: absolute;
     transform: rotate(0deg);
     top: 132%;
     right: 50%;
     }

.move1 .legrightbaba{
    position: absolute;
    transform: rotate(-1deg);
    top: 132%;
    left: 70%;
      }

.move1 .sapatosr{
     position: absolute;
     bottom: -105%;
     left: 72%;
    }

.move1 .sapatosl{
     position: absolute;
     bottom: -105%;
     right: 50%;
    }